<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL-SHORTENER</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>URL-Shortener</h1>

        <% if (locals.error) { %>
            <p class="error">
                <%= error%>
            </p>
            <% } %>
                <form action="/" method="post">
                    <input type="url" name="url" id="url" placeholder="url here..">
                    <input type="submit" value="create url">
                </form>
                <div class="short-url">
                    <% if (locals.short_url) { %>
                        <a href="<%= short_url %>" id="shortUrlLink">
                            <%= short_url %>
                        </a>
                        <button class="copy-button" id="copyButton">Copy</button>
                    <div id="tooltip" class="tooltip">
                        URL Copied!
                    </div>
                        <% } %>
                </div>


    </div>
    <script>
        document.getElementById("copyButton").addEventListener("click", function () {
            var shortUrlLink = document.getElementById("shortUrlLink");
            var shortUrl = shortUrlLink.getAttribute("href");

            //    Create a temporary text area 
            var tempTextArea = document.createElement("textArea");
            tempTextArea.value = shortUrl;
            document.body.appendChild(tempTextArea);

            // select content and copy 
            tempTextArea.select();
            document.execCommand("copy");

            document.body.removeChild(tempTextArea);

           var tooltip = document.getElementById("tooltip");
            tooltip.style.opacity = "1";

            setTimeout(function () {
                tooltip.style.opacity = "0";
            }, 1500);
        });
    </script>

</body>

</html>